figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

figcaption {
  margin-top: 6px;
  display: block;
  text-align: center;
}

img {
  display: block;
}

#main-header {
  margin: auto;
  margin-bottom: 6px;
  padding: 15px;
  font-family: 'Labrada', serif;
  font-size: larger;
  background-color: rgb(228, 253, 225);
  text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
  align-self: center;
}

#tribute-info {
  background-color: rgb(228, 253, 225);
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#timeline {
  text-align: center;

}

#timeline ul {
  list-style: none;
}

#timeline ul li {
  margin-bottom: 3px;
}



@media (min-width: 1250px) {

  figure,
  #timeline {
    margin: auto;
    width: 70%;
  }
}